{% extends 'home/base.html' %}

{% block contenido %}




<h1>recibe toda la informacion que necesitas en un solo lugar </h1>


<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PxxtVkPu71o?si=Pg192wfifGAUOI6n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>



{% endblock %}