body {
    background-color: rgb(168, 178, 178);
}

h1 {
    text-align: center;
    font-family: mario256;
}

h2 {
    text-align: center;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(74, 76, 76, 0.663);
    padding: 10px;
    font-family: letrafooter;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 800px;
}

.img-carrusel{
    width: 800px;
    height: 500px;
}

.container-fluid{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}



.rrss {
    margin-left: 20%;
    margin-right: 10%;
    text-align: left;
    list-style: none;
}

.paginasExternas {
    margin-left: 20%;
    margin-right: 10%;
    text-align: left;
    list-style: none;
}

.video {
    text-align: center;
}

@font-face {
    font-family: mario256;
    src: url(../fonts/SuperMario256.ttf),
        url(../fonts/PileOfRock.ttf);
}

@font-face {
    font-family: letrafooter;
    src: url(../fonts/Retro\ Team.otf),
}


