.body{
    background-color: rgba(45, 43, 43, 0.573);
}

.titulo{
    text-align: center;
    font-family: mario256;
}

@font-face {
    font-family: mario256;
    src: url(../fonts/SuperMario256.ttf),
    url(../fonts/PileOfRock.ttf);
}

footer{
    text-align: center;
    color: blueviolet;
    background-color: rgb(39, 65, 65);
    padding: 10px;
    width: 100%;
}